<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="null" debug="true">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[test-console]%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="dailyFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="Threshold" value="INFO" /> -->
		<!-- <param name="File" value="F:/test//app.log" /> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[test-dailyFileAppender]%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="yxAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="Threshold" value="DEBUG" /> -->
		<!-- <param name="File" value="F:/test//yx.log" /> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[test-yxAppender]%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<!-- <appender name="mongoDBAppender" class="org.log4mongo.MongoDbAppender"> -->
	<!-- <param name="hostname" value="115.29.166.179" /> -->
	<!-- <param name="port" value="27017" /> -->
	<!-- <param name="databaseName" value="test" /> -->
	<!-- <param name="collectionName" value="apolloLog" /> -->
	<!-- </appender> -->

	<!-- <appender name="asynAppender" class="org.apache.log4j.AsyncAppender"> -->
	<!-- <param name="bufferSize" value="10" /> -->
	<!-- <appender-ref ref="mongoDBAppender" /> -->
	<!-- </appender> -->

	<logger name="com.yx" additivity="false">
		<level value="INFO" />
		<appender-ref ref="yxAppender" />
		<!-- <appender-ref ref="asynAppender" /> -->
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyFileAppender" />
	</root>

</log4j:configuration>
