<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="null" debug="null">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[test]%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="dailyFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="Threshold" value="INFO" /> -->
		<param name="File" value="D:/test/avatar.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[test-dailyFileAppender]%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="ibatisAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="Threshold" value="DEBUG" /> -->
		<param name="File" value="D:/test/ibatis.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[test-ibatisAppender]%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<logger name="com.health" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyFileAppender" />
	</logger>

	<logger name="org.apache.ibatis">
	<level value="debug" />
	<appender-ref ref="ibatisAppender" />
	</logger>

	<logger name="java.sql">
	<level value="debug" />
	<appender-ref ref="ibatisAppender" />
	</logger>

	<logger name="java.sql.Statement">
	<level value="debug" />
	<appender-ref ref="ibatisAppender" />
	</logger>

	<logger name="java.sql.ResultSet">
	<level value="debug" />
	<appender-ref ref="ibatisAppender" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyFileAppender" />
		<appender-ref ref="ibatisAppender" />
	</root>

</log4j:configuration>
